@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: teko;
  src: url(../public/font/Teko-Regular.ttf);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  font-family: teko;
  /* outline: 1px solid red; */
}
html {
  overflow-x: hidden;
  user-select: none;
}

.profile .glowing {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  position: absolute;
  width: 98%;
  height: 98%;
  box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 0px #03bcf4,
    0 0 0px #03bcf4, 0 0 0px #03bcf4;
  /* background: linear-gradient(#510020, #f06); */
  border-radius: 50%;
  /* animation: rotate 5s linear infinite; */
  filter: blur(10px);
}

/* .glowing .img {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .img img {
  max-width: 240px;
  object-fit: cover;
} */

/* @keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #176b87;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Set the color of the active pagination bullet */

/* Set the color of the inactive pagination bullets */
.swiper-pagination-bullet {
  background-color: #001c30;
}

/* Increase the size of the pagination bullets */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  border-radius: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.circle-3d {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg); */
  /* transition: transform 0.3s ease-in-out; */
  box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 0px #03bcf4,
    0 0 0px #03bcf4, 0 0 0px #03bcf4;
  filter: blur(1px);
}
